img {
    max-width: none
}

.cti-header img {
    max-width: 100%
}

.cti-scrl {
    z-index: 500;
    bottom: 40px;
    right: 15px
}

.cti-po-re {
    position: relative
}

.cti-po-ab {
    position: absolute
}

.cti-mar-no {
    margin: 0!important
}

.cti-all {
    width: 100%;
    margin: auto
}

.cti-header-jobs, .cti-page {
    margin: 0 auto;
    overflow: hidden
}

.cti-clear {
    clear: both
}

.cti-page {
    width: 100%;
    position: relative
}

.cti-bg {
    position: absolute;
    z-index: 10
}

.cti-header-jobs {
    width: 885px
}

.cti-header-jobs p {
    text-align: center;
    float: left;
    padding: 12px 30px 0;
    height: 43px;
    color: #a8a8a8
}

.cti-header-jobs span {
    display: block
}

.cti-header-jobs .t-sp-1 {
    font-size: 14px;
    margin-bottom: 5px
}

.cti-header-jobs .t-sp-2 {
    font-size: 12px
}

.cti-header-jobs .act {
    background: #2c2d2f;
    color: #d5d6d8
}

.cti-mini-nav {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(14, 15, 19, .6);
    background: #0e0f13\9;
    z-index: 999
}

.act-mini, .mini-inner-nav li:hover {
    background: #2c2d2e
}

.mini-inner-nav {
    overflow: hidden;
    position: relative;
    width: 840px;
    height: 60px;
    margin: 0 auto
}

.mini-inner-nav li {
    float: left;
    width: 120px;
    height: 60px;
    cursor: pointer
}

.mini-inner-nav li p {
    text-align: center;
    font-size: 14px;
    color: #a7a7a8;
    margin-top: 16px
}

.mini-inner-nav li span {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #a7a7a8;
    margin-top: 5px;
    transform: scale(.8)
}

.common-ani-des, .cti-btn-down.d-hide, .mini-end {
    display: none
}

.mini-inner-nav li:hover p, .mini-inner-nav li:hover span {
    color: #d0d0d0
}

.act-mini p, .act-mini span {
    color: d0d0d0
}

.mini-nav-light {
    display: none;
    position: absolute;
    top: 25px;
    width: 100%;
    height: 20px;
    z-index: 500
}

.common-ani-des {
    width: 100%;
    margin-top: 8px
}

.cti-btn-down {
    position: fixed
}

#big-video-image, #big-video-vid, #big-video-wrap {
    position: absolute
}

#big-video-control, #big-video-control-bar {
    height: 16px;
    position: relative;
    width: 100%
}

#big-video-wrap {
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}

#big-video-control-container {
    position: fixed;
    bottom: 20px;
    padding: 0 20px;
    width: 100%;
    -webkit-transition-duration: .6s;
    -moz-transition-duration: .6s;
    -ms-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s
}

#big-video-control-middle {
    margin: 0 56px 0 24px
}

#big-video-control-bar {
    cursor: pointer
}

#big-video-control-progress {
    position: absolute;
    top: 7px;
    height: 3px;
    width: 0;
    background: #fff
}

#big-video-control-track {
    position: absolute;
    top: 8px;
    height: 1px;
    width: 100%;
    background: #fff
}

#big-video-control-bound-left {
    left: 0
}

#big-video-control-bound-right {
    right: -1px
}

#big-video-control-track .ui-slider-handle {
    opacity: 0;
    filter: alpha(opacity=0)
}

#big-video-control-playhead {
    left: 30%
}

#big-video-control-play {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-image: url(bigvideo.png)
}

#big-video-control-timer {
    position: absolute;
    top: 1px;
    right: 0;
    color: #fff;
    font-size: 11px
}

#big-video-control-bound-left, #big-video-control-bound-right, #big-video-control-playhead {
    position: absolute;
    top: 0;
    height: 16px;
    width: 1px;
    background: #fff
}

#big-video-control .ui-slider-handle {
    border-left: solid 1px #fff;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px
}

.transparent {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}

.vjs-big-play-button {
    display: none!important
}

.cti-page-bottom .cti-bottom-middle {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
    font-size: 12px
}

.cti-bottom-middle div {
    overflow: hidden;
    position: relative;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFF;
    background: url(../../images/arrow_right.png) 90% 50% no-repeat;
    cursor: pointer
}

p.line-b, p.line-r, p.line-t {
    position: absolute
}

p.line-b, p.line-l, p.line-r, p.line-t {
    background: #a1a1a1
}

p.line-t {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px
}

p.line-r {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%
}

p.line-b {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px
}

.cti-vieoblur, p.line-l {
    position: absolute;
    height: 100%
}

p.line-l {
    top: 0;
    left: 0;
    width: 1px
}

.left {
    float: left
}

.right {
    float: right
}

.cti-bottom-middle div p {
    transition: All .4s ease-in-out;
    -webkit-transition: All .4s ease-in-out;
    -moz-transition: All .4s ease-in-out;
    -o-transition: All .4s ease-in-out;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 1px solid #a1a1a1
}

.cti-bottom-middle div span {
    line-height: 35px;
    text-align: center;
    color: #FFF;
    display: none!important
}

.cti-bottom-middle div:hover p {
    opacity: 0;
    filter: alpha(opacity=0)
}

.cti-bottom-middle div:hover .line-t {
    -webkit-animation-name: T;
    animation-name: T
}

.cti-bottom-middle div:hover .line-r {
    -webkit-animation-name: R;
    animation-name: R
}

.cti-bottom-middle div:hover .line-b {
    -webkit-animation-name: B;
    animation-name: B
}

.cti-bottom-middle div:hover .line-l {
    -webkit-animation-name: L;
    animation-name: L
}

.cti-vieoblur {
    top: 0px;
    width: 100%;
    background: url(../../images/common_op.png)
}

.le-1 {
    left: 1%
}

.le-3 {
    left: -3%
}

.le-4 {
    left: -7%
}

.cti-desk-jobs span, .mini-inner-nav li span {
    letter-spacing: 1.3px
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes T {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        width: 1px
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        width: 100%
    }
}

@keyframes T {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        width: 1px
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        width: 100%
    }
}

@-webkit-keyframes R {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        height: 1px
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        height: 100%
    }
}

@keyframes R {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        height: 1px
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        height: 100%
    }
}

@-webkit-keyframes B {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        width: 1px
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        width: 100%
    }
}

@keyframes B {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        left: 100%
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        left: 0
    }
}

@-webkit-keyframes L {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        height: 1px
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        height: 100%
    }
}

@keyframes L {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        height: 1px
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        height: 100%
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes breathe {
    0%, to {
        opacity: .1
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

@keyframes breathe {
    0%, to {
        opacity: .1
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0)
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0)
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        filter: alpha(opacity=100)
    }
    to {
        opacity: 0;
        filter: alpha(opacity=0)
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        filter: alpha(opacity=100)
    }
    to {
        opacity: 0;
        filter: alpha(opacity=0)
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

.fix-50 {
    position: fixed!important;
    top: 50px!important
}

.cti-bottom-footer ul li:hover span {
    color: #FFF
}

@media screen and (min-width:768px) and (max-width:1440px) {
    .cti-mini-nav {
        top: 71px
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .cti-mini-nav {
        top: 50px
    }
}

@media screen and (min-width:768px) and (max-width:860px) {
    .mini-inner-nav {
        width: 700px
    }
    .mini-inner-nav li {
        width: 100px
    }
}

@media screen and (max-width:768px) {
    .cti-mini-nav, .mini-end, .mini-nav-light {
        display: block
    }
    .cti-mini-nav {
        top: 50px;
        height: 80px
    }
    .mini-inner-nav {
        width: 100%;
        height: 100%
    }
    .mini-inner-nav li {
        width: 25%;
        height: 40px
    }
    .mini-inner-nav li p {
        transform: scale(.9);
        margin-top: 5px
    }
    .mini-inner-nav li span {
        transform: scale(.8)
    }
}
