@font-face {
  font-family: SourceHanSansCN-Regular;
  src: url(../font/SourceHanSansCN-Regular.eot);
  src: url(../font/SourceHanSansCN-Regular.eot?#iefix) format('embedded-opentype'), url(../font/SourceHanSansCN-Regular.otf) format('truetype'), url(../font/SourceHanSansCN-Regular.ttf) format('truetype'), url(../font/SourceHanSansCN-Regular.woff) format('woff'), url(../font/SourceHanSansCN-Regular.svg) format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: SourceHanSansCN-Light;
  src: url(../font/SourceHanSansCN-Light.eot);
  src: url(../font/SourceHanSansCN-Light.eot?#iefix) format('embedded-opentype'), url(../font/SourceHanSansCN-Light.otf) format('truetype'), url(../font/SourceHanSansCN-Light.ttf) format('truetype'), url(../font/SourceHanSansCN-Light.woff) format('woff'), url(../font/SourceHanSansCN-Light.svg) format('svg');
  font-weight: 400;
  font-style: normal
}

body {
  background: url(../images/body_bg.jpg) center top no-repeat fixed #000;
  font-family: "Noto Sans CJK SC Light", "Source Han Sans CN Light", SourceHanSansCN-Light, Arial, STHeiti, source-han-sans-simplified-c;
  font-style: normal;
}

img {
  max-width: 100%;
}

a:hover, a {
  text-decoration: none;
  color: #a8a8a8;
}

a:focus {
  outline: none;
  -moz-outline: none;
}

input, textarea, select {
  outline: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.d-table {
  display: table;
  height: 100%;
  width: 100%;
}

.d-cell {
  display: table-cell;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

ul li, ol li {
  list-style: none;
}

.no-select {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*reset swiper*/

.pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}

.swiper-active-switch {
  background: #fff;
}

.swiper-slide img {
  display: block;
}


/*cti-header*/

.cti-header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  z-index: 99999;
}

.cti-header nav {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: #090809 url('../images/nav_bg.jpg');
}

.cti-header .cti-logo {
  float: left;
  width: 11%;
  height: 100%;
  text-align: center;
}

.cti-header .cti-logo a {
  display: inline-block;
  position: relative;
  width: 33.5000%;
}

.cti-header .cti-logo img {
  vertical-align: middle;
}

.cti-header .cti-nav {
  float: left;
  width: 63%;
  height: 100%;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url('../images/nav_border.png');
}

.cti-header .cti-nav li {
  float: left;
  height: 100%;
  background-image: url('../images/nav_border.png');
  background-position: left;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: normal;
  width: 14.285%;
  font-size: 14px;
  line-height: 100px;
  color: #ababab;
}

.cti-header .cti-nav li a {
  display: block;
  line-height: 18px;
}

.cti-header .cti-nav li span {
  display: block;
  font-size: 10px;
  -webkit-transform: scale(0.8);
  color: #505050;
}

.cti-header .cti-skyactiv {
  float: right;
  width: 15.3%;
  height: 100%;
  text-align: center;
}

.cti-header .cti-skyactiv .d-link {
  position: relative;
  display: block;
}

.cti-header .cti-skyactiv .d-link a {
  position: absolute;
  display: block;
  top: -20%;
  width: 50%;
  height: 140%;
  right: 0px;
  z-index: 200;
  background: url('../images/alpha_0.png');
}

.cti-header .cti-skyactiv .d-link a:first-child {
  left: 0px;
  right: auto;
}

.cti-header .cti-skyactiv img {
  vertical-align: middle;
  max-width: 180%;
  width: 62%;
}

.cti-subnav, .cti-nav-line {
  position: absolute;
  top: 100px;
  clear: both;
  width: 76%;
  margin-left: 11%;
}

.cti-subnav {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  background: #000;
  z-index: 600;
}

.cti-nav-line {
  width: 63%;
  top: 100px;
  z-index: 601;
}

.cti-nav-line .d-slider {
  -webkit-transition: all 0.5s cubic-bezier(.64, -0.06, .33, 1.05) 0s;
  -o-transition: all 0.5s cubic-bezier(.64, -0.06, .33, 1.05) 0s;
  transition: all 0.5s cubic-bezier(.64, -0.06, .33, 1.05) 0s;
  position: relative;
  display: block;
  height: 1px;
  width: 14.285%;
  left: 0%;
  background: #ff0000;
}

.cti-subnav-home, .cti-subnav-brand, .cti-subnav-news, .cti-subnav-event, .cti-subnav-allcar {
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  top: -800px;
  visibility: hidden;
  z-index: 0;
}

.cti-subnav>div.d-active {
  visibility: visible;
  top: 0px;
  z-index: 200;
}

.cti-subnav-home img {
  display: block;
}

.cti-subnav-brand {
  background: #282828;
}

.cti-subnav-brand .pull-left {
  width: 28.7%;
}

.cti-subnav-brand img {
  display: block;
}

.cti-subnav-brand .pull-left ul li {
  position: relative;
}

.cti-subnav-brand .pull-left ul li a {
  display: block;
}

.cti-subnav-brand .pull-left ul li img:first-child {
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: absolute;
  z-index: 999;
  top: 0px;
  opacity: 0.5;
}

.cti-subnav-brand .pull-left ul li:hover img:first-child, .cti-subnav-brand .pull-left ul li.d-active img:first-child {
  opacity: 1;
}

.cti-subnav-brand .pull-right {
  width: 71.3%;
}

.cti-subnav-brand .pull-right .d-text {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 150;
}

.cti-subnav-brand .pull-right .d-links {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: url('../images/alpha_bg_0.5.png');
  z-index: 200;
}

.cti-subnav-brand .pull-right .d-links li {
  position: relative;
  float: left;
  width: 20%;
  text-align: right;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  padding: 2.5% 0px;
}

.cti-subnav-brand .pull-right .d-links li a {
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
  font-weight: normal;
}

.cti-subnav-brand .pull-right .d-links li a:hover {
  color: #fff;
}

.cti-subnav-brand .pull-right .d-btn {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 0%;
  z-index: 200;
  text-align: center;
}

.cti-subnav-brand .pull-right .d-btn a {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 160px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  letter-spacing: 6px;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 100;
}

.cti-subnav-brand .pull-right img {
  /*width: 100%\9;*/
}

.cti-subnav-news img {
  display: block;
}

.cti-subnav-news .pull-left {
  width: 44%;
}

.cti-subnav-news .pull-right {
  width: 56%;
  float: left;
}

.cti-subnav-news .pull-right .d-item, .cti-subnav-news .pull-left .d-item {
  position: relative;
}

.cti-subnav-news .pull-right .d-link, .cti-subnav-news .pull-left .d-link {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 20%;
  text-align: center;
  font-size: 24px;
  color: #fff;
  line-height: 50px;
}

.cti-subnav-news .pull-right .d-text, .cti-subnav-news .pull-left .d-text {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  background: #373737;
  color: #aeaeae;
}

.cti-subnav-news .d-link .d-btn {
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  letter-spacing: 6px;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 100;
  text-align: center;
}

.cti-subnav-event {
  background: #0c0b0c;
}

.cti-subnav-event .swiper-slide {
  position: relative;
}

.cti-subnav-event .pull-left {
  position: relative;
  width: 31.5%;
  height: 100%;
}

.cti-subnav-event .pull-left a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 20px;
}

.cti-subnav-event .pull-left .swiper-container {
  position: relative;
  height: 100%;
}

.cti-subnav-event .pull-left .swiper-wrapper {
  height: 100%;
}

.cti-subnav-event .pull-left .swiper-slide {
  border-bottom: 1px solid #212021;
  box-sizing: border-box;
  cursor: pointer;
}

.cti-subnav-event .pull-left .swiper-slide:hover {
  background: #171717;
}

.cti-subnav-event .pull-left .d-btn-down {
  position: absolute;
  text-align: center;
  border-top: 1px solid #212021;
  border: none \9;
  width: 100%;
  height: 20%;
  bottom: 0px;
  background: #0c0b0c;
  z-index: 500;
  cursor: pointer;
}

.cti-subnav-event .pull-left .d-btn-down:hover {
  background: #171717;
}

.cti-subnav-event .pull-right {
  width: 68.5%;
  text-align: center;
  color: #fff;
}

.cti-subnav-event .pull-right .d-text {
  position: absolute;
  top: 10%;
  width: 100%;
  left: 0%;
  line-height: 38px;
}

.cti-subnav-event .pull-right span {
  display: block;
  margin: auto;
}

.cti-subnav-event .pull-right b {
  display: block;
}

.cti-subnav-event .pull-right .d-lang-en {
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 2%;
}

.cti-subnav-event .pull-right .d-lang-en b {
  font-size: 18px;
  font-weight: normal;
}

.cti-subnav-event .pull-right .d-lang-zh {
  position: relative;
  border-top: 1px solid #cfcfcf;
  padding: 5% 0px;
  width: 25%;
  font-size: 28px;
  line-height: 38px;
}

.cti-subnav-event .pull-right .d-lang-zh.d-min {
  padding: 6% 0px 0%;
}

.cti-subnav-event .pull-right .d-lang-zh .d-text {
  position: absolute;
  width: 120%;
  left: -10%;
  top: 10%;
}

.cti-subnav-event .pull-right .d-lang-zh b {
  font-weight: normal;
  font-size: 32px;
}

.cti-subnav-event .pull-right .d-link {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  padding: 0.5% 3%;
  letter-spacing: 10px;
  color: #fff;
  line-height: 30px;
}

.cti-subnav-allcar {
  width: 100%;
  background: #0d0d0d;
}

.cti-subnav-allcar .pull-left {
  width: 58.2%;
  height: 100%;
  line-height: 30px;
  color: #707070;
}

.cti-subnav-allcar .pull-left a {
  display: block;
  height: 100%;
}

.cti-subnav-allcar .pull-left .d-price {
  display: block;
  padding: 1% 0px;
  font-size: 12px;
}

.cti-subnav-allcar .pull-left img {
  display: block;
  margin: auto;
}

.cti-subnav-allcar .pull-left .d-item {
  height: 33.33%;
}

.cti-subnav-allcar .pull-left .col-xs-6 {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  background: transparent;
}

.cti-subnav-allcar .pull-left .col-xs-6:hover {
  background: #171717;
}

.cti-subnav-allcar .pull-left .d-item:first-child .col-xs-6 {
  border-top: none;
}

.cti-subnav-allcar .pull-left .d-item .col-xs-6:first-child {
  border-left: none;
}

.cti-subnav-allcar .pull-right {
  width: 41.8%;
  text-align: center;
  line-height: 30px;
}

.cti-subnav-allcar .pull-right img {
  display: block;
}

.cti-subnav-allcar .pull-right .d-item {
  position: relative;
}

.cti-subnav-allcar .pull-right .d-item .d-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.cti-subnav-allcar .pull-right .d-btn-drive {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  width: 160px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 10px;
  color: #fff;
  cursor: pointer;
}

.cti-subnav-allcar .pull-right .d-select {
  position: absolute;
  width: 102%;
  left: -1%;
  bottom: 102%;
  background: #333333;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0px;
  display: none;
}

.cti-subnav-allcar .pull-right .d-select.d-show {
  display: block;
}

.cti-subnav-allcar .pull-right .d-select a {
  display: block;
  letter-spacing: 0px;
  border-top: 1px solid #a1a1a1;
}

.cti-subnav-allcar .pull-right .d-select a:first-child {
  border: none;
}

.cti-subnav-allcar .pull-right .d-select a:hover {
  color: #fff;
}

.cti-subnav-allcar .pull-right .d-btn-drive img {
  display: inline-block;
  vertical-align: middle;
}

.cti-subnav-allcar .pull-right .d-link {
  position: absolute;
  bottom: 15%;
  width: 80%;
  left: 10%;
  text-align: center;
}

.cti-subnav-allcar .pull-right .d-link a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  width: 50%;
  font-size: 14px;
  line-height: 20px;
  float: left;
  text-align: center;
}

.cti-subnav-allcar .pull-right .d-link .d-en {
  display: block;
  font-size: 10px;
}

.cti-subnav-allcar .pull-right .d-link a:hover {
  color: #fff;
}


/*cti-navslider*/

.cti-navslider {
  position: relative;
}

.cti-navslider .d-item {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  top: 0px;
  opacity: 0;
  visibility: hidden;
}

.cti-navslider .d-item.d-active {
  opacity: 1;
  visibility: visible;
}


/*cti-second-interval*/

.cti-second-interval {
  display: block;
  height: 100px;
}


/*cti-footer-links*/

.cti-footer-links {
  text-align: center;
  font-size: 13px;
  padding: 2% 0px;
}

.cti-footer-links a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: -1px;
  padding: 0px 4.5px;
}

.cti-footer-links a:hover {
  color: #fff;
}


/**/

.cti-zoom-icon {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 40px;
  z-index: 200;
  opacity: 1;
  display: block\9;
  width: 7.3%;
}

.cti-zoom-icon.d-hide {
  opacity: 0;
  display: none\9;
}

.cti-zoom-icon img {
  width: 96.36000%;
  margin-left: -5%;
}


/*cti-allcar*/

.cti-allcar {
  width: 54%;
  margin: auto;
  padding-top: 5%;
  overflow: hidden;
}

.cti-allcar.d-nopt {
  padding-top: 0%;
}

.cti-allcar .row {
  border-top: 1px solid #2c2c2c;
  padding-bottom: 4%;
  padding-top: 3%;
}

.cti-allcar .row:first-child {
  border-top: none;
}

.cti-allcar .row.no-border {
  border: none;
  padding-top: 1%;
  padding-bottom: 1.5%;
}

.cti-allcar .row.d-poster {
  padding-top: 1%;
}

.cti-allcar .row.d-poster-bottom {
  display: none;
}

.cti-allcar.d-nopt .row.no-border {
  padding-top: 3%;
}

.cti-allcar.d-nopt .d-poster {
  padding-top: 0%;
}

.cti-allcar.d-nopt .d-poster.d-mobile-poster {
  display: none;
}

.cti-allcar .d-poster img {
  display: block;
  max-width: 100%;
}

.cti-allcar .d-car-title {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.6;
}

.cti-allcar .row .col-xs-2 {
  width: 10%;
  float: left;
  font-size: 24px;
  color: #979797;
  padding-top: 3.8%;
}

.cti-allcar .row:first-child .col-xs-2 {
  padding-top: 3.5%;
}

.cti-allcar .row .col-xs-10 {
  width: 90%;
  float: left;
}

.col-xs-3 {
  width: 25%;
  float: left;
  text-align: center;
}

.cti-allcar .row .col-xs-10 .col-xs-4 {
  width: 33.33%;
  float: left;
  text-align: center;
}

.d-flx {
  float: left;
  width: 45%;
}

.cti-bor-none {
  border: none!important;
}

.cti-aclwid {
  width: 100%;
}

.cti-allcar.d-second .row .col-xs-10 {
  width: 100%;
}

.cti-allcar.d-second .row .col-xs-10 .col-xs-4 {
  width: 25%;
}

.cti-allcar .row .col-xs-10 .col-xs-4 img:first-child {
  margin-bottom: 0%;
}

.cti-allcar .row .col-xs-10 a:hover .d-car-title {
  opacity: 1;
}

.cti-allcar .d-price {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  color: #8f8f8f;
  padding: 3% 0px 7%;
  font-size: 14px;
}

.cti-allcar a:hover, .cti-allcar a:hover * {
  color: #c9c9c9;
  border-color: #c9c9c9;
}

.cti-allcar .d-doc {
  font-size: 14px;
  display: inline-block;
  /*border: 1px solid #8a8a8a;*/
  padding: 4px 8px;
  padding-bottom: 4px\9;
}

.cti-allcar .d-doc .line {
  background: #8a8a8a;
}

.cti-allcar .d-wrap {
  position: relative;
  left: 50%;
  float: left;
}

.cti-allcar .d-btn {
  position: relative;
  right: 50%;
  display: block;
  letter-spacing: 6px;
  width: 140px;
  height: 35px;
  font-size: 12px;
  text-align: center;
  float: left;
  line-height: 35px;
  margin: 0px 15px;
  color: #fff;
  cursor: pointer;
  padding-bottom: 10px\9;
}

.cti-allcar .d-btn img {
  vertical-align: middle;
}

.cti-allcar .d-btn .d-select {
  position: absolute;
  width: 100%;
  bottom: 100%;
  background: #333333;
  left: 0px;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 20px;
  display: none;
}

.cti-allcar .d-btn .d-select.d-show {
  display: block;
}

.cti-allcar .d-btn .d-select a {
  display: block;
  border-top: 1px solid #a1a1a1;
  padding: 3px 0px;
}

.cti-allcar .d-btn .d-select a:first-child {
  border: none;
}


/**/

.d-ghostbtn {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  overflow: hidden;
  position: relative;
  border: 1px solid #a1a1a1;
}

.d-ghostbtn .line {
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  background: #a1a1a1;
  display: none !important;
}

.d-ghostbtn:hover span {
  opacity: 0
}

.d-ghostbtn .line-t {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px
}

.d-ghostbtn .line-r {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%
}

.d-ghostbtn .line-b {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px
}

.d-ghostbtn .line-l {
  top: 0;
  left: 0;
  width: 1px;
  height: 100%
}


/*.d-ghostbtn:hover .line-t {
    -webkit-animation-name: T;
    animation-name: T;
}

.d-ghostbtn:hover .line-r {
    -webkit-animation-name: R;
    animation-name: R;
}

.d-ghostbtn:hover .line-b {
    -webkit-animation-name: B;
    animation-name: B;
}

.d-ghostbtn:hover .line-l {
    -webkit-animation-name: L;
    animation-name: L;
}*/

@-webkit-keyframes T {
  from {
    opacity: 0;
    width: 1px;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes T {
  from {
    opacity: 0;
    width: 1px;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@-webkit-keyframes R {
  from {
    opacity: 0;
    height: 1px;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes R {
  from {
    opacity: 0;
    height: 1px;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@-webkit-keyframes B {
  from {
    opacity: 0;
    width: 1px;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes B {
  from {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes L {
  from {
    opacity: 0;
    height: 1px;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes L {
  from {
    opacity: 0;
    height: 1px;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}


/*回顶部*/

.cti-scrl {
  position: fixed;
  right: 15px;
  bottom: 40px;
  color: white;
  z-index: 200;
}

.cti-scrl-top, .cti-scrl-bom {
  transition: all .5s;
  -webkit-transition: all .5s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: black;
  margin-top: 10px;
}

.cti-scrl-top, .cti-scrl-bom {
  opacity: 0;
  display: none\9;
}

.cti-scrl-bom {
  display: none;
}

.cti-scrl-bom.d-show, .cti-scrl-top.d-show {
  opacity: 1;
  display: block\9;
}

.cti-scrl-top:hover {
  background: #232121;
}

.cti-scrl-bom:hover {
  background: #232121;
}


/**/

.cti-video-modal {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url('../images/opacity_black.png');
  z-index: 9999;
}

.cti-video-modal .d-wrap {
  position: relative;
  max-width: 1000px;
  height: 560px;
  top: 50%;
  margin-top: -280px;
  margin-left: auto;
  margin-right: auto;
}

.cti-video-modal .d-close {
  float: right;
  cursor: pointer;
  margin-right: -50px;
  background: #675959;
}

.cti-video-modal .d-close img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate(0deg) scale(0.7);
  -ms-transform: rotate(0deg) scale(0.7);
  transform: rotate(0deg) scale(0.7);
  max-width: 100%;
}

.cti-video-modal .d-close:hover img {
  -webkit-transform: rotate(180deg) scale(0.7);
  -ms-transform: rotate(180deg) scale(0.7);
  transform: rotate(180deg) scale(0.7);
}

.cti-video-modal .d-close:active img {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: rotate(180deg) scale(0.5);
  -ms-transform: rotate(180deg) scale(0.5);
  transform: rotate(180deg) scale(0.5);
}

.cti-video-modal .d-video {
  height: 100%;
  background: #000;
}

.cti-video-modal .d-video object {
  width: 100%;
  height: 100%;
}


/**/

.cti-rotator-mask {
  display: none;
}

.cti-activity-frame {
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #000;
  top: -100%
}

.cti-activity-frame.d-show {
  top: 0
}

.cti-activity-frame .btn-close {
  -webkit-transition: all .3s ease .3s;
  -o-transition: all .3s ease .3s;
  transition: all .3s ease .3s;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  position: absolute;
  top: 10px;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  cursor: pointer;
  opacity: 0
}

.cti-activity-frame.d-show .btn-close:hover {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none
}

.cti-activity-frame.d-show .btn-close {
  -webkit-transition: all .3s ease 1s;
  -o-transition: all .3s ease 1s;
  transition: all .3s ease 1s;
  opacity: 1
}

.cti-activity-frame iframe {
  width: 100%;
  height: 100%
}


/*1440*/

@media screen and (max-width:1440px) {
  /*nav*/
  .cti-header {
    height: 71px;
  }
  .cti-header .cti-nav {
    position: relative;
    width: 63%;
    left: 1%;
  }
  /*.cti-header .cti-skyactiv {
		padding-left: 1%;
		margin-right: 3%;
	}*/
  .cti-subnav {
    width: 74%;
    top: 71px;
    margin-left: 12%;
  }
  .cti-nav-line {
    width: 63%;
    top: 71px;
    margin-left: 12%;
  }
  .cti-header .cti-logo a {
    width: 55px\9;
  }
  .cti-header .cti-logo img {
    width: 96.36000%;
    vertical-align: middle;
  }
  .cti-header .cti-nav li {
    line-height: 71px;
  }
  .cti-header .cti-nav, .cti-header .cti-nav li {
    background-image: url('../images/nav_border_min.png');
  }
  .cti-zoom-icon {
    width: 7.3%;
    bottom: 20px;
  }
  .cti-subnav-event .pull-right .d-lang-zh {
    font-size: 20px;
  }
  .cti-subnav-event .pull-right .d-lang-zh.d-min {
    font-size: 16px;
  }
  .cti-subnav-event .pull-right .d-text {
    line-height: 30px;
  }
  .cti-subnav-event .pull-right .d-lang-zh b {
    font-size: 23px;
  }
  .cti-subnav-event .pull-right .d-lang-zh .d-text {
    top: 6%;
  }
  .cti-subnav-event .pull-right .d-lang-en {
    font-size: 10px;
    line-height: 16px;
    padding-bottom: 1%;
  }
  .cti-subnav-event .pull-right .d-lang-en b {
    font-size: 14px;
  }
  .cti-subnav-brand .pull-right .d-links li {
    padding: 2% 0px;
  }
  .cti-subnav-brand .pull-right .d-btn {
    top: 56%;
  }
  .cti-subnav-brand .pull-right .d-btn a {
    width: 108px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
  }
  .cti-subnav-event .pull-right .d-link {
    line-height: 26px;
    letter-spacing: 8px;
    font-size: 14px;
  }
  .cti-subnav-news .pull-right .d-link, .cti-subnav-news .pull-left .d-link {
    line-height: 40px;
    font-size: 18px;
  }
  .cti-subnav-news .pull-right .d-text, .cti-subnav-news .pull-left .d-text {
    line-height: 40px;
    font-size: 13px;
  }
  .cti-subnav-news .d-link .d-btn {
    font-size: 10px;
    width: 108px;
    letter-spacing: 3px;
    height: 28px;
    line-height: 28px;
  }
  .cti-subnav-allcar .pull-right .d-btn-drive {
    letter-spacing: 6px;
    width: 108px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
  }
  .cti-subnav-allcar .pull-right .d-btn-drive img {
    position: relative;
    top: -2px;
  }
  .cti-subnav-allcar .pull-right .d-link {
    bottom: 6%;
  }
  .cti-subnav-allcar .pull-left a img {
    max-width: 65%;
  }
  .cti-subnav-allcar .pull-left a img:first-child {
    max-width: 60%;
  }
  .cti-subnav-allcar .pull-right .d-select {
    line-height: 25px;
  }
  /**/
  .cti-second-interval {
    height: 71px;
  }
  /**/
  .cti-allcar {
    width: 53.4%;
    padding-top: 3%;
  }
  .cti-allcar .d-btn {
    font-size: 12px;
    letter-spacing: 4px;
    padding: 0%;
    margin: 0px 9px;
  }
  .cti-allcar .d-doc {
    font-size: 12px;
  }
  .cti-allcar .d-price {
    font-size: 12px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  .cti-allcar .row {
    padding-bottom: 2%;
    padding-top: 1%;
  }
  .cti-allcar .row .col-xs-2 {
    padding-top: 3.8%;
    font-size: 20px;
  }
  .cti-allcar .row:first-child .col-xs-2 {
    padding-top: 3.3%;
  }
  .cti-allcar .row .col-xs-10 .col-xs-4 img {
    max-width: 100%;
  }
  .cti-allcar .row .col-xs-10 .col-xs-4 img:first-child {
    max-width: 70%;
  }
  .cti-footer-links a {
    padding: 0px 3px;
  }
  .cti-video-modal .d-wrap {
    max-width: 710px;
    height: 400px;
    margin-top: -200px;
  }
  .cti-video-modal .d-close {
    width: 35px;
    height: 35px;
    margin-right: -35px;
  }
}


/*1200*/

@media screen and (max-width:1200px) {
  .cti-header .cti-nav li {
    position: relative;
    font-size: 12px;
  }
  .cti-header .cti-nav li span {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    width: 120px;
    font-size: 12px;
    text-align: center;
  }
  .cti-header .cti-nav li a {
    line-height: 16px;
  }
  .cti-header .cti-skyactiv img {
    max-width: 80%;
  }
}

@media screen and (max-width:1100px) and (min-width:768px) {
  @media all and (orientation: portrait) {
    .cti-rotator-mask {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      display: block;
      background: #000;
      z-index: 99999;
      color: #fff;
      font-size: 20px;
    }
    .cti-rotator-mask img {
      width: 100px;
      margin: 3%;
    }
  }
}


/*ipad*/

@media screen and (max-width:1024px) {
  body:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../images/body_bg.jpg') center 0 no-repeat;
    background-size: cover;
  }
  .cti-header {
    height: 50px;
  }
  .cti-header .cti-logo {
    width: 60px;
  }
  .cti-header .cti-logo img {
    width: 38px;
  }
  .cti-header .cti-skyactiv {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    background: none;
  }
  .cti-header .cti-skyactiv img {
    display: none;
  }
  .cti-mobile-btn {
    position: relative;
    display: block;
    top: -2px;
    width: 25px;
    height: 20px;
    margin: auto;
    /*background: url('../images/nav_icon.png') no-repeat center/100%;*/
    cursor: pointer;
    z-index: 999;
  }
  .cti-mobile-btn l {
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    width: 25px;
    height: 2px;
    margin: 4px auto;
    background: #858585;
  }
  .cti-mobile-btn.d-open {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .cti-mobile-btn.d-open l:nth-child(1), .cti-mobile-btn.d-open l:nth-child(4) {
    opacity: 0;
  }
  .cti-mobile-btn.d-open l:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 7px;
    margin-bottom: 0px;
    border-radius: 2px;
  }
  .cti-mobile-btn.d-open l:nth-child(3) {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: -2px;
    border-radius: 2px;
  }
  .cti-nav-line {
    display: none;
  }
  .cti-header .cti-nav {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: none;
    position: absolute;
    right: -100%;
    top: 50px;
    left: auto;
    height: auto;
    width: 60%;
    background: #191919;
    z-index: 200;
  }
  .cti-header .cti-nav.d-show {
    right: 0px;
  }
  .cti-header .cti-nav:after {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
  }
  .cti-header .cti-nav.d-show:after {
    display: block;
  }
  .cti-header .cti-nav li {
    float: none;
    width: 65%;
    text-align: left;
    padding-left: 20%;
    background: url('../images/mobile_nav_nomal.png') no-repeat center bottom/85%;
    margin: 5% 0px;
    padding-bottom: 5%;
  }
  .cti-header .cti-nav li:last-child {
    background: none;
  }
  .cti-header .cti-nav li a {
    line-height: 16px;
    font-size: 14px;
  }
  .cti-header .cti-nav li:active, .cti-header .cti-nav li.d-active {
    background: url('../images/mobile_nav_hover.png') no-repeat center bottom/85%;
  }
  .cti-header .cti-nav li:last-child:active, .cti-header .cti-nav li:last-child.d-active {
    background: none;
  }
  .cti-header .cti-nav li span {
    position: relative;
    width: auto;
    margin: auto;
    left: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: left;
  }
  .cti-subnav {
    display: none;
  }
  .cti-zoom-icon {
    width: 76px;
  }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  .cti-header .cti-logo a{
    width: 58.3500%!important;
    display: block;
    margin-left: 33.3500%;
  }
  .cti-header .cti-logo .bom{
    width: 92.1200%;
  }
}


/*920*/

@media screen and (max-width:920px) {
  .cti-header .cti-nav li span {
        position: relative;
    width: auto;
    margin: auto;
    left: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: left;
  }
}


/*768*/

@media screen and (max-width:768px) {
  .cti-header .cti-logo a{
    display: block;
    margin-left: 33.3500%;
  }
  .cti-header .cti-logo img {
    width: 174.2%;
    max-width: 250%;
  }
  .cti-header .cti-logo .bom{
    width: 92.1200%;
  }
  /**/
  .cti-second-interval {
    height: 50px;
  }
  /**/
  .cti-allcar {
    position: relative;
    width: 100%;
  }
  .cti-allcar .row:first-child .col-xs-2 {
    line-height: 18px;
  }
  .cti-allcar .row .col-xs-2 {
    width: 15%;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
  }
  .cti-allcar .row.d-pcposter {
    display: none;
  }
  .cti-allcar .row.d-poster-bottom {
    display: block;
  }
  .cti-allcar.d-nopt .d-poster.d-mobile-poster {
    display: block;
  }
  .cti-allcar .row .col-xs-10 {
    width: 85%;
  }
  .cti-allcar .row .col-xs-10 .col-xs-4 {
    width: 50%;
    padding-bottom: 3%;
  }
  .cti-allcar.d-second .row .col-xs-10 .col-xs-4 {
    width: 50%;
  }
  .cti-allcar .row .col-xs-10 .col-xs-4 img {
    width: 80%;
  }
  .cti-allcar .row .col-xs-10 .col-xs-4 img:first-child {
    margin-bottom: 0%;
  }
  .cti-allcar .d-price {
    font-size: 12px;
    padding: 2% 0px 5%;
  }
  .cti-allcar .d-doc {
    font-size: 12px;
  }
  .cti-allcar .row.d-btn-wrap {
    position: absolute;
    width: 100%;
    bottom: 3%;
  }
  /*.cti-allcar.d-nopt .row.d-btn-wrap {
        position: relative;
        padding-bottom: 8%;
    }*/
  .cti-allcar .row .col-xs-10 .col-xs-4.d-border {
    padding-top: 8%;
  }
  .cti-allcar .row .col-xs-10 .col-xs-4.d-border:before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    left: 0px;
    margin-top: -3%;
    height: 1px;
    background: #2c2c2c;
  }
  .cti-allcar .d-poster {
    border: none;
  }
  .cti-allcar .d-wrap {
    float: none;
  }
  .cti-allcar .d-btn {
    display: inline-block;
    width: auto;
    float: none;
    height: auto;
    font-size: 12px;
    padding: 0px;
    margin: 0px 2%;
    width: 100px;
    height: 25px;
    line-height: 25px;
  }
  .cti-allcar .d-btn img {
    width: 6px;
    vertical-align: baseline;
  }
  .cti-allcar .d-poster img {
    width: 100%;
  }
  /**/
  .cti-scrl {
    display: none;
  }
  .cti-video-modal .d-wrap {
    height: 320px;
    margin-top: -170px;
  }
  .cti-video-modal .d-close {
    width: 30px;
    height: 30px;
    margin-top: -30px;
    margin-right: 0px;
  }
}
