.ease-ani {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}

.cti-p1-titBox {
    /*overflow: hidden;*/
    position: absolute;
    width: 100%;
    height: 30%;
    top: 35%;
    z-index: 100;
}

.cti-p1-titBox img {
    display: block;
    width: 30%;
    max-width: 597px !important;
    margin: 0 auto;
}

.cti-soul-des {
    display: none;
    margin-top: 20px;
}

.cti-soul-des * {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    letter-spacing: 3px;
}

.cti-p1-titBox i {
    position: absolute;
    margin-top: 20px;
    display: block;
    width: 46px;
    height: 45px;
    left: 50%;
    margin-left: -23px;
    top: 75%;
    background: url(../../images/add_icon.png) no-repeat center;
    cursor: pointer;
}

.cti-desk-jobs {
    /*overflow: hidden;*/
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 840px;
    margin-left: -420px;
    z-index: 100;
}

.cti-desk-jobs a {
    color: #fff;
}

.cti-desk-jobs p {
    text-align: center;
    float: left;
    width: 118px;
    color: #FFF;
    border-right: 1px solid #FFF;
}

.cti-desk-jobs span {
    display: block;
}

.cti-desk-jobs .t-sp-1 {
    font-size: 14px;
    margin-bottom: 3px;
}

.cti-desk-jobs .t-sp-2 {
    font-size: 12px;
    transform: scale(0.8);
}

.cti-btn-down {
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    z-index: 100;
    -webkit-animation: breathe 3s ease-in-out infinite;
    animation: breathe 3s ease-in-out infinite;
}

.cti-bg img {
    width: 100%;
}

.cti-page-2 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 450px;
    background: #000;
}

.cti-p2-top {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
}

.cti-p2-top .cti-p2-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
}

.cti-p2-top .cti-p2-tit {
    position: absolute;
    top: 50%;
    right: 10%;
    margin-top: -47px;
    width: 267px;
    z-index: 100;
}

.cti-text-bottom {
    display: table;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 210px;
    background: #282828;
    text-align: center;
    color: #aba9a9;
}

.cti-page-3 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px;
}

.cti-page-3 .cti-p3-box {
    overflow: hidden;
    position: relative;
    float: left;
    width: 50%;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.cti-page-3 .cti-p3-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.cti-page-4 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
}

.cti-page-4 .cti-p4-box {
    position: relative;
    overflow: hidden;
    float: left;
    width: 33.333%;
    height: 100%;
}

.cti-page-4 .cti-p4-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.cti-page-5 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 695px;
}

.cti-page-5 .cti-p5-box {
    display: table;
    overflow: hidden;
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.cti-page-5 .mini-p5-bottom {
    width: 49.76%;
}

.cti-page-5 .mini-p5-top {
    width: 50.24%;
}

.cti-page-5 .cti-opacity-mask {
    left: -1px;
    width: 101%;
}

.ve-middle {
    display: table-cell;
    vertical-align: middle;
}

.cti-page-7 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 695px;
    background: #000;
}

.cti-page-7 .cti-p7-box {
    overflow: hidden;
    position: relative;
    float: left;
    height: 100%;
}

.cti-page-7 .cti-p7-box a {
    top: 0px;
}

.w-30 {
    width: 30%;
    background: #282828;
}

.w-70 {
    width: 70%;
}

.p7-show-img {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
    z-index: 100;
}

.cti-middle-tit {
    font-size: 22px;
    text-align: center;
    color: #FFF;
    margin-bottom: 20px;
}

.cti-middle-des {
    font-size: 14px;
    text-align: center;
    color: #FFF;
    line-height: 25px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cti-opacity-mask {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/opacity_black.png) repeat;
    z-index: 300;
}

.cti-mask-box a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.cti-mask-box:hover .cti-opacity-mask {
    opacity: 1;
    filter: alpha(opacity=100);
}

.cti-mask-box:hover .p4-des-mini {
    opacity: 1;
    filter: alpha(opacity=100);
}

.cti-mask-box:hover .shadow-text {
    text-shadow: none;
}

.cti-mask-box:hover .common-ani-des {
    display: block;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.cti-mask-box:hover .common-ani-tit {
    opacity: 0;
    filter: alpha(opacity=100);
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.cti-common-text {
    display: table;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.cti-common-text .cti-text-info {
    text-align: center;
    width: 158px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid #FFF;
    color: #FFF;
    cursor: pointer;
}

.cti-text-bottom h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: normal;
}

.cti-text-bottom .t-1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 2px;
}

.cti-text-bottom .t-2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
}

.cti-more {
    overflow: hidden;
    position: relative;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 160px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #fff;
}

.cti-more p {
    background: #FFF;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: none !important;
}

.cti-more:hover p {
    opacity: 0;
    filter: alpha(opacity=0);
}

.cti-more:hover .line-t {
    -webkit-animation-name: T;
    animation-name: T;
}

.cti-more:hover .line-r {
    -webkit-animation-name: R;
    animation-name: R;
    /*    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;*/
}

.cti-more:hover .line-b {
    -webkit-animation-name: B;
    animation-name: B;
    /*    -webkit-animation-delay: 1s;
    animation-delay: 1s;*/
}

.cti-more:hover .line-l {
    -webkit-animation-name: L;
    animation-name: L;
    /*    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;*/
}

.cti-more span {
    color: #FFF;
}

.p7-text-des {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 25px;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.p7-text-des p {
    background: #FFF;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.p7-text-des:hover p {
    opacity: 0;
    filter: alpha(opacity=0);
}

.p7-text-des:hover .line-t {
    -webkit-animation-name: T;
    animation-name: T;
}

.p7-text-des:hover .line-r {
    -webkit-animation-name: R;
    animation-name: R;
}

.p7-text-des:hover .line-b {
    -webkit-animation-name: B;
    animation-name: B;
}

.p7-text-des:hover .line-l {
    -webkit-animation-name: L;
    animation-name: L;
}

.cti-p3-innerWrap {
    position: absolute;
    top: 50%;
    left: 15%;
    margin-top: -60px;
    height: 120px;
}

.cti-p3-li {
    float: left;
    margin-right: 50px;
}

.cti-p3-li li {
    position: relative;
    height: 30px;
    width: 100%;
    color: #9c9b9b;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.cti-p3-li li span {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.cti-p3-li li i {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: url(../../images/heritage/2px.png) repeat-x center;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cti-p3-li li:hover i {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-animation-name: lineMove;
    animation-name: lineMove;
}

.cti-p3-li li:hover {
    color: #FFF;
}

.p5-tit-style {
    text-align: center;
    font-size: 28px;
    margin-bottom: 12px;
    color: #a9a8a8;
}

.p5-tit-eng {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5%;
    color: #a9a8a8;
}

.cti-page-5 .cti-p5-box ul {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.cti-page-5 .cti-p5-box ul li {
    position: relative;
    float: left;
    width: 20%;
    height: 40px;
}

.cti-page-5 .cti-p5-box ul li p {
    color: #858484;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.cti-page-5 .cti-p5-box ul li i {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background: url(../../images/heritage/2px.png) repeat-x center;
}

.cti-page-5 .cti-p5-box ul li:hover i {
    opacity: 1;
    filter: alpha(opacity=100);
}

.bg-active {
    opacity: 1 !important;
}

.cti-page-5 .cti-p5-box img.p5-des {
    position: static;
    display: block;
    text-align: center;
    width: 568px;
    margin: 0 auto;
    margin-top: 40px;
    color: #858484;
}

.p5-text-dex {
    display: none;
    /*overflow: hidden;*/
    width: 80%;
    height: 160px;
    margin: 0 auto;
    color: #a9a9a9;
    line-height: 25px;
    font-size: 14px;
}

.p5-des-show {
    display: block;
}

.p5-more {
    position: relative;
    overflow: hidden;
    /*top: 70%;
    left: 42%;*/
    margin: 0 auto;
    width: 130px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 5%;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}

.p5-more p {
    /*background: #FFF;*/
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/*.p5-more:hover p {
    opacity: 0;
    filter: alpha(opacity=0);
}

.p5-more:hover .line-t {
    -webkit-animation-name: T;
    animation-name: T;
}

.p5-more:hover .line-r {
    -webkit-animation-name: R;
    animation-name: R;
}

.p5-more:hover .line-b {
    -webkit-animation-name: B;
    animation-name: B;
}

.p5-more:hover .line-l {
    -webkit-animation-name: L;
    animation-name: L;
}*/

.p7-text-box {
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 260px;
    height: 160px;
    z-index: 500;
}

.p7-text-box img {
    width: 100%;
}

.cti-page-7 .w-30 img {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 135px;
}

.cti-page-7 .w-30 ul {
    position: absolute;
    left: 20%;
    top: 45%;
}

.cti-page-7 .w-30 ul li {
    position: relative;
    height: 40px;
}

.cti-page-7 .w-30 ul li span {
    position: relative;
    display: inline-block;
    color: #a9a8a8;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}

.cti-page-7 .w-30 ul li i {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: url(../../images/heritage/2px.png) repeat-x center;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cti-page-7 .w-30 ul li:hover i {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-animation-name: lineMove;
    animation-name: lineMove;
}

.cti-page-7 .w-30 ul li:hover span {
    color: #FFF;
}

.cti-page-bottom {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 380px;
}

.cti-page-bottom .cti-bottom-top {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 80px;
    width: 60%;
    margin-bottom: 20px;
}

.cti-bottom-top .car-show-box {
    position: relative;
    overflow: hidden;
    float: left;
    width: 25%;
    height: 140px;
    cursor: pointer;
}

.car-show-box .b-t {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.car-show-box .b-b {
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
    width: 90%;
    margin: 0 auto;
}

.car-show-box p {
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
}

.car-show-box:hover p, .b-b {
    opacity: 1;
    filter: alpha(opacity=100);
}

.car-show-box:hover .b-b {
    opacity: 1;
    filter: alpha(opacity=100);
}

.cti-page-bottom .cti-bottom-footer {
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
    margin-top: 50px;
}

.cti-bottom-footer ul {
    overflow: hidden;
    width: 100%;
}

.cti-bottom-footer ul li {
    float: left;
    width: 20%;
}

.cti-bottom-footer ul li span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #616161;
    cursor: pointer;
}

.mini-bottom {
    display: none;
}

.p4-des-mini {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    display: block;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 3px;
    z-index: 500;
}


/*p3 pop*/

.p3-img-pop {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    z-index: 700;
}

.soul-l-ctrl, .soul-r-ctrl {
    position: absolute;
    top: 50% !important;
    margin-top: -30px;
    width: 26px !important;
    z-index: 500;
    cursor: pointer;
}

.soul-l-ctrl {
    left: 30px !important;
}

.soul-r-ctrl {
    right: 30px !important;
    left: auto !important;
}

.p3-img-inner {
    display: table;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    z-index: 300;
}

.p3-img-inner div {
    display: table-cell;
    vertical-align: middle;
}

.p3-img-inner img {
    position: static !important;
    width: 100%;
}

.p3-pop-des {
    display: table;
    overflow: hidden;
    position: absolute;
    top: 80%;
    width: 100%;
    height: 20%;
    z-index: 300;
}

.p3-pop-des div {
    display: table-cell;
    vertical-align: middle;
}

.p3-pop-des p {
    color: #adacac;
    line-height: 25px;
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
}

.pop-loading-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.cti-page-3 .cti-p3-box .pop-loading-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 37px;
    margin-top: -19px;
    margin-left: -19px;
}

.com-des {
    font-size: 14px;
    line-height: 20px;
}

.cti-page-3 .cti-w-60 {
    width: 57%;
}

.cti-page-3 .cti-w-40 {
    width: 43%;
}

.mini-bg {
    display: none;
}

.prod-bg {
    display: block;
}

.shadow-text {
    text-shadow: 5px 5px 5px #000;
}

@-webkit-keyframes lineMove {
    0% {
        width: 1px;
    }
    to {
        width: 100%;
    }
}

@keyframes lineMove {
    0% {
        width: 1px;
    }
    to {
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .cti-more {
        width: 108px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        margin-top: 20px;
    }
    .cti-common-text .cti-text-info {
        width: 108px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
    }
    .p5-more {
        width: 108px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
    }
    .cti-p1-titBox i {
        bottom: 15%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1367px) {
    .cti-page-7 {
        height: 750px;
    }
    .cti-page-7 .w-30 img {
        top: 27%;
        width: 130px;
    }
    .cti-text-bottom {
        height: 180px;
    }
    .h-130 {
        height: 130px;
    }
    .cti-text-bottom h4 {
        font-size: 16px;
    }
    .com-des {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cti-page-7 {
        height: 440px !important;
    }
}

@media screen and (max-width: 1300px) {
    .cti-p3-li {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1120px) {
    .cti-p3-innerWrap {
        left: 20px;
        width: 130%;
    }
    .cti-more {
        margin-top: 15px;
    }
    .com-des {
        width: 95%;
        margin: 0 auto;
    }
    .p5-tit-style {
        font-size: 20px;
    }
    .p5-tit-eng {
        font-size: 12px;
        margin-bottom: 2%;
    }
    .cti-page-5 .cti-p5-box ul {
        margin-bottom: 2%;
    }
    .p5-text-dex {
        width: 95%;
    }
    .cti-page-7 .w-30 img {
        top: 15%;
        left: 10%;
        width: 100px;
    }
    .cti-page-7 .w-30 ul {
        top: 30%;
        left: 10%;
    }
}

@media screen and (max-width:768px) {
    .cti-desk-jobs, .cti-btn-down {
        display: none;
    }
    .cti-p1-titBox img {
        width: 60%;
    }
    .cti-p1-titBox {
        height: 100%;
    }
    .cti-soul-des {
        display: none !important;
    }
    .cti-soul-img {
        display: block !important;
    }
    /*p2*/
    .cti-page-2 {
        height: 420px;
        margin-top: 80px;
    }
    .cti-p2-tit {
        display: none;
    }
    /*.cti-p2-top{height: 250px;}*/
    .cti-p2-top .cti-p2-bg {
        left: -90%;
    }
    .cti-p2-top .cti-p2-tit {
        width: 150px;
        margin-top: -26px;
    }
    .cti-text-bottom {
        height: 170px;
    }
    .h-130 {
        height: 120px;
    }
    .cti-text-bottom h4 {
        font-size: 16px;
    }
    .com-des {
        width: 85%;
        font-size: 12px;
        line-height: 20px;
        margin: 0 auto;
        text-align: left;
    }
    .cti-more {
        margin-top: 10px;
        width: 120px;
        height: 30px;
        line-height: 30px;
    }
    /*p3*/
    .cti-page-3 {
        height: 900px;
    }
    .cti-page-3 .cti-p3-box {
        width: 100%;
    }
    .cti-page-3 .cti-w-60 {
        width: 100%;
    }
    .cti-page-3 .cti-w-40 {
        width: 100%;
    }
    .h-100 {
        height: 35%;
    }
    .h-50 {
        height: 30%;
    }
    .h-other {
        height: 35%;
    }
    .cti-p3-innerWrap {
        height: 275px;
        margin-top: -130px;
    }
    .cti-p3-li {
        float: none;
    }
    .p4-des-mini {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .cti-p3-innerWrap {
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
    /*p4*/
    .cti-page-4 {
        height: 1000px;
    }
    .cti-page-4 .cti-p4-box {
        width: 100%;
        height: 33.333%;
    }
    /*p5*/
    .cti-page-5 .cti-p5-box {
        float: right;
        width: 100%;
        height: 50%;
    }
    .cti-page-5 .mini-p5-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .cti-page-5 .mini-p5-bottom {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .p5-more {
        display: none;
    }
    /*p6*/
    .cti-text-bottom .t-2 {
        font-size: 14px;
    }
    .cti-page-7 {
        height: 580px !important;
    }
    .cti-page-7 .cti-p7-box {
        height: 50%;
    }
    .w-30 {
        width: 100%;
        height: 100% !important;
    }
    .w-70 {
        width: 100%;
        height: 45% !important;
    }
    .cti-page-7 .w-30 {
        height: 46% !important;
    }
    .cti-page-7 .w-30 img {
        width: 20%;
        top: 20%;
        left: 20%;
    }
    .cti-page-7 .w-30 ul {
        top: 35%;
        width: 236px;
        left: 20%;
    }
    .cti-p7-box .mini-bg {
        left: auto !important;
        width: 100% !important;
        height: auto !important;
    }
    .p7-show-img {
        width: 100%;
        height: auto;
    }
    .cti-page-7 .cti-p7-box a {
        top: 10%;
    }
    .cti-page-7 .opa-0 {
        opacity: 1;
    }
    /*bottom*/
    .cti-page-bottom {
        display: none;
    }
    .mini-bottom {
        display: block;
    }
    .cti-opacity-mask {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .mini-des {
        display: block;
    }
    /**/
    .mini-bg {
        display: block;
    }
    .prod-bg {
        display: none;
    }
    .opa-0 {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
    .cti-page {
        height: 400px !important;
    }
    .cti-mini-nav {
        position: absolute;
        top: 400px;
    }
    .cti-p2-top .cti-p2-bg {
        left: -90%;
    }
    /*p7*/
    .cti-page-7 {
        height: 550px !important;
    }
}

@media screen and (max-width:600px) {
    .cti-p1-titBox {
        top: 25%;
    }
    .cti-soul-des * {
        letter-spacing: 0;
    }
    .cti-middle-tit {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .cti-middle-des {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .cti-common-text .cti-text-info {
        width: 100px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    .cti-page {
        height: 250px !important;
    }
    .cti-mini-nav {
        position: absolute;
        top: 265px;
    }
    .cti-page-5 .cti-p5-box ul {
        width: 85%;
    }
    .cti-page-5 .cti-p5-box ul li p {
        font-size: 16px;
    }
    .p5-text-dex {
        font-size: 12px;
    }
    .cti-p3-li li {
        height: 20px;
    }
    .li-1 {
        margin-top: 10%;
    }
}

@media screen and (max-width: 450px) {
    .cti-p1-titBox img {
        margin-top: 50px;
    }
    .cti-soul-des {
        margin-top: 20px;
    }
    .cti-soul-des * {
        font-size: 12px;
    }
    .cti-p1-titBox i {
        position: static;
        margin: 0px auto;
        width: 25px;
        height: 25px;
        background: url(../../images/add_icon.png) no-repeat center;
        background-size: 100% 100%;
    }
    .cti-page-7 .w-30 img {
        top: 10%;
    }
    .cti-page-7 .w-30 ul {
        top: 25%;
    }
}

@media screen and (max-width: 380px) {
    .cti-p3-innerWrap {
        width: 100%;
        height: auto;
        left: 50%;
    }
    .cti-soul-des * {
        line-height: 20px;
    }
    /*.cti-p3-li{float: left;}*/
    .cti-page-7 .w-30 ul li {
        height: 35px;
    }
}

@media screen and (max-width: 350px) {
    .cti-p2-top .cti-p2-tit {
        width: 100px;
        margin-top: 0px;
    }
    .cti-p3-innerWrap {
        margin-top: 0;
        top: 0;
        left: 0;
        margin-left: 20px;
    }
    .cti-p3-li li {
        height: 20px;
    }
    .li-1 {
        margin-top: 10px;
    }
    .cti-p3-li {
        margin-left: 10px;
    }
    .cti-page-7 .w-30 img {
        left: 10%;
    }
    .cti-page-7 .w-30 ul {
        left: 10%;
    }
    .cti-page-7 .w-30 ul li {
        height: 27px;
    }
}
