
.ball {
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: 30px;
}

.ball a {
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 6px;
}



.ball a:hover {

}

.ball .blue {
  color: blue;
}

.ball .red {
  color: red;
}

.ball .orange {
  color: orange;
}

.ball .pink {
  color: pink;
}

.ball .skyblue {
  color: skyblue;
}

.ball .yellow {
  color: yellow;
}


