/* 公共部分 */
.transitionALL{
  transition: all 1s;
}
.section{
  overflow: hidden;
}
.w1200{
  width:1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
#menu .active a { color: #fff; background-color: #FEA005;}
/* 公共部分 */
/*头部导航开始*/
.header{
  width:100%;
  height:60px;
  position: fixed;
  left: 0;
  top:0;
  background: #fff url(../images/sprite.png) repeat-x;
  z-index: 100;
}
.inHeader{
  width:960px;
  height:60px;
  margin: 0 auto;
  /*background:pink;*/
}
.inHeader h1{
  width:155px;
  height: 60px;
  text-indent: -9999px;
  background: url(../images/logo.jpg) ;
  float: left;
  margin-right: 17px;
  cursor: pointer;
}
.headerNav{
  float: left;
  height:60px;
}
.headerNav li{
  float: left;
  height: 100%;
  font-weight: bold;
  font-size: 14px;

}
.headerNav li a{
  padding:0 20px;
  color: #888888;
  line-height: 60px;
  display:inline-block;
}
.headerNav li .current,.headerNav li .clicked{
  background: #FEA005;
  color: #fff;
}

/*头部导航结束*/
/*每屏的背景图片*/
.page1{
  background: url("../images/b1_bg.jpg") center center;
}
.page2{
  background: url("../images/b2_bg.jpg") center center;
}
.page3{
  background: url("../images/b3_bg.jpg") center center;
}
.page4{
  background: url("../images/b5_bg.jpg") center center;
}
.page5{
  background: url("../images/b6_bg.jpg") center center;
}
.page6{
  background: url("../images/b6_bg.jpg") center center;
}
.wind{
  width:709px;
  height: 625px;
  position: absolute;
  left:-40px;
  top:0px;
  opacity: 0;
  z-index: 8;
}
.textArea{
  width:328px;
  height: 211px;
  position: absolute;
  right: 0px;
  top:50%;
  margin-top: -110px;
  opacity: 0;
  z-index: 8;
}
.yinxiao{
  width:328px;
  height:162px;
  background:url(../images/b1_03.png);
}
.btn{
  width: 141px;
  height: 39px;
  margin-top:10px;
  background:url(../images/b1_03_btn.png) 0 0 no-repeat;
}
.bg01{
  width: 1440px;
  height: 441px;
  position: absolute;
  bottom: -250px;
  left: 50%;
  margin-left: -720px;
  background:url(../images/b1_01.png) center center no-repeat;
  z-index: 7;
  opacity: 0;
}
.comeout .wind{
  left:30px;
  top:100px;
  opacity: 1;
}
.comeout .textArea{
  right:120px;
  opacity: 1;
}
.comeout .bg01{
  bottom:-150px;
  opacity: 1;
}
.small{
  width: 780px;
  height: 300px;
  position: absolute;
  top:80px;
  left: -300px;
}
.weixin{
  width: 80px;
  width: 330px;
  position: absolute;
  top: 280px;
  left:900px;
  font-size:28px;
  color:#fff;
  opacity: 0;
}
.comeout .weixin{
  left: 480px;
  top: 280px;
  opacity:1;
}
 .comeout .txtARrea{
   margin-top: 20px;
  font-size:18px;
}
.bottom_bot{
  width: 300px;
  height:300px;
  background:url(../images/b2_06.png) no-repeat;
  position: absolute;
  bottom:-100px;
  right:80px;
  opacity: 0;
}
.comeout .bottom_bot{
  opacity:1;
  bottom:80px;
  right:80px;
}
.theme{
  width: 800px;
  height: 100px;
  text-align: center;
  line-height:100px;
  margin: -300px auto;
  font-size:18px;
  font-weight:700;
}
.theme span{
  color:orange;
}
.theme p{
  color:#666;
  font-size: 14px;
  margin-top: -40px;
}
.qiyehuying{
  position: relative;
  width: 970px;
  height: 527px;
  border-top:1px solid #ccc;
  top: 350px;
  margin: auto;

}
.qiyehuying ul{
  width: 1000px;
  height: 527px;
  margin-top: 50px;
}
.qiyehuying ul li{
  margin-right:40px;
  width: 290px;
  height: 120px;

}
.qiyehuying ul li span{
  color:orange;
  font-size: 18px;
  font-weight:600;
}
.qiyehuying ul li:nth-child(1){
  position: absolute;
  top: 70px;
  left: 130px;
  text-align: right;
  opacity: 0;
}
.qiyehuying ul li:nth-child(2){
  position: absolute;
  top: 70px;
  left: 500px;
  opacity: 0;
}
.qiyehuying ul li:nth-child(3){
  position: absolute;
  top: 180px;
  left: 130px;
  text-align: right;
  opacity: 0;
}
.qiyehuying ul li:nth-child(4){
   position: absolute;
   top: 180px;
   left: 500px;
   text-align: left;
  opacity: 0;
 }
.qiyehuying ul li:nth-child(5){
  position: absolute;
  top: 300px;
  left: 130px;
  text-align: right;
  opacity: 0;
}
.qiyehuying ul li:nth-child(6){
  position: absolute;
  top: 300px;
  left:500px;
  opacity: 0;
}
.comeout .qiyehuying ul li:nth-child(1){
  position: absolute;
  top: 70px;
  left: 80px;
  text-align: right;
  opacity: 1;
}
.comeout .qiyehuying ul li:nth-child(2){
  position: absolute;
  top: 70px;
  left: 625px;
  opacity: 1;
}
.comeout .qiyehuying ul li:nth-child(3){
  position: absolute;
  top: 180px;
  left: 0px;
  text-align: right;
  opacity: 1;
}
.comeout .qiyehuying ul li:nth-child(4){
  position: absolute;
  top: 180px;
  left: 700px;
  opacity: 1;
}
.comeout .qiyehuying ul li:nth-child(5){
  position: absolute;
  top: 320px;
  left: 80px;
  text-align: right;
  opacity: 1;
}
.comeout .qiyehuying ul li:nth-child(6){
  position: absolute;
  top: 320px;
  left:625px;
  opacity: 1;
}

.qiyehuying .xuanzhun{
  position: absolute;
  top:50px;
  left: 300px;
  transform: rotate(0deg);
  /*-webkit-transform: rotate(0deg);*/
  opacity: 0;
}
.comeout .qiyehuying .xuanzhun{
  transform: rotate(360deg);
  /*-webkit-transform: rotate(360deg);*/
  opacity: 1;
}
/*第三屏*/
.hot{
  position: relative;
  top:-220px;
  font-size: 18px;
  font-weight: 700;
  color:#fff;
  text-align: center;

}
.hot span{
  color:orange;
}
.hot p{
  font-size:14px;
  color:#ccc;
  font-weight:500;

}
.guanggao .xian{
  border-top: 1px solid #ccc;
  position: absolute;
  width: 960px;
 top:180px;
}
.guanggao{
  padding: 15px;
  width: 920px;
  margin: 10px auto;
}
.guanggao ul{
  width: 960px;
  position: relative;
}
.guanggao ul li{
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  float: left;
  display: inline-block ;
  width: 200px;
  height: 160px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 0px #ddd,-2px -2px 0px #ddd;
}
.guanggao li span{
  display: block;
  text-align: center;
  font-size: 16px;
}
.guanggao li p{
  text-align: center;
  font-size: 14px;
  color:#666;
}
.guanggao li:nth-child(1) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_01.png");
  margin-left: 55px;

}
.guanggao li:nth-child(2) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_08.png");
  margin-left: 55px;

}
.guanggao li:nth-child(3) i{
   display:inline-block ;
   width: 88px;
   height: 88px;
   background:url("../images/gnico_03.png");
   margin-left: 55px;
 }
.guanggao li:nth-child(4) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_14.png");
  margin-left: 55px;
}
.guanggao li:nth-child(5) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_05.png");
  margin-left: 55px;
}
.guanggao li:nth-child(6) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_06.png");
  margin-left: 55px;
}
.guanggao li:nth-child(7) i {
  display: inline-block;
  width: 88px;
  height: 88px;
  background: url("../images/gnico_10.png");
  margin-left: 55px;
}
.guanggao li:nth-child(8) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_02.png");
  margin-left: 55px;
}
.guanggao li:nth-child(9) i{
   display:inline-block ;
   width: 88px;
   height: 88px;
   background:url("../images/gnico_09.png");
   margin-left: 55px;
 }
.guanggao li:nth-child(10) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_04.png");
  margin-left: 55px;
}
.guanggao li:nth-child(11) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_11.png");
  margin-left: 55px;
}
.guanggao li:nth-child(12) i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico_12.png");
  margin-left: 55px;
}

.guanggao li:nth-child(4n-3){
  position: absolute;
  top:0px;
  left: 15px;
}
.guanggao li:nth-child(4n-2){
  position: absolute;
  top:-5px;
  left: 235px;
}
.guanggao li:nth-child(4n-1){
  position: absolute;
  top:0px;
  left: 460px;
}
.guanggao li:nth-child(4n){
  position: absolute;
  top:0px;
  left: 690px;
}
.comeout .guanggao li:nth-child(1),
.comeout .guanggao li:nth-child(2),
.comeout .guanggao li:nth-child(3),
.comeout .guanggao li:nth-child(4){
  position: absolute;
  top: -170px;

}
.comeout .guanggao li:nth-child(4n-3){
  position: absolute;
  left: 15px;

}
.comeout .guanggao li:nth-child(9),
.comeout .guanggao li:nth-child(10),
.comeout .guanggao li:nth-child(11),
.comeout .guanggao li:nth-child(12){
  position: absolute;
  top: 170px;

}
.comeout .guanggao li{
  opacity: 1;
}
.guanggao li:nth-child(1):hover i{
  background: url("../images/gnico-_01.png");
}
.guanggao li:nth-child(2):hover i{
  background: url("../images/gnico-_08.png");
}

.guanggao li:nth-child(3):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_03.png");
  margin-left: 55px;
}
.guanggao li:nth-child(4):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_14.png");
  margin-left: 55px;
}
.guanggao li:nth-child(5):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_05.png");
  margin-left: 55px;
}
.guanggao li:nth-child(6):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_06.png");
  margin-left: 55px;
}
.guanggao li:nth-child(7):hover i {
  display: inline-block;
  width: 88px;
  height: 88px;
  background: url("../images/gnico-_10.png");
  margin-left: 55px;
}
.guanggao li:nth-child(8):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_02.png");
  margin-left: 55px;
}
.guanggao li:nth-child(9):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_09.png");
  margin-left: 55px;
}
.guanggao li:nth-child(10):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_04.png");
  margin-left: 55px;
}
.guanggao li:nth-child(11):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_11.png");
  margin-left: 55px;
}
.guanggao li:nth-child(12):hover i{
  display:inline-block ;
  width: 88px;
  height: 88px;
  background:url("../images/gnico-_12.png");
  margin-left: 55px;
}
/*第五屏*/
.hot_new{
  font-size:28px;
  color:#fff;
  margin-top: 200px;
  margin-left:150px;
}
.hot_new span{
  font-size: 20px;
}
.page5{
  width: 100%;
  height: 100%;
}
.beijing_t{
  width: 800px;
  height: 500px;
  position: relative;
  margin-left:400px;
}
.beijing_t ul li{

  position: absolute;
  font-size:16px;
  color:#fff;
}
.beijing_t ul li:nth-child(1){
  top: 0px;
  left: 20px;
}
.beijing_t ul li:nth-child(2){
  top: 0px;
  left: 400px;
}
.beijing_t ul li:nth-child(3){
  top: 150px;
  left: 540px;
}
.beijing_t ul li:nth-child(4){
  top: 320px;
  left: 488px;
}
.beijing_t ul li:nth-child(5){
  top: 420px;
  left: 180px;
}
.beijing_t ul li:nth-child(6){
   top: 340px;
   left:-55px;
 }
.beijing_t ul li:nth-child(7){
  top: 140px;
  left:-160px;
}
.beijing_t .yuandian i{
  float: left;
  display: inline-block;
  margin-top: 500px;
  z-index: 10;
  background-color: red;
  width: 10px;
  height: 10px;
  background:url("../images/b6_ico.png") no-repeat;
}
.beijing_t .yuandian i:nth-child(1){
  position: absolute;
  top: -498px;
  left: 143px;
}
.beijing_t .yuandian i:nth-child(2){
  position: absolute;
  top: -498px;
  left: 377px;
}
.beijing_t .yuandian i:nth-child(3){
   position: absolute;
   top: -353px;
   left: 520px;
 }
.beijing_t .yuandian i:nth-child(4){
  position: absolute;
  top: -168px;
  left: 469px;
}
.beijing_t .yuandian i:nth-child(5){
  position: absolute;
  top: -90px;
  left: 261px;
}
.beijing_t .yuandian i:nth-child(6){
  position: absolute;
  top: -168px;
  left: 50px;
}
.beijing_t .yuandian i:nth-child(7){
  position: absolute;
  top: -350px;
  left: 2px;
}
.gangbi{
  position: absolute;
  top:80%;
  left: 20%;
  width: 280px;
  height: 372px;
  background:url("../images/b6_01.png");
  opacity: 1;
}
.comeout .gangbi{
  position: absolute;
  top:40%;
  left: 80%;
  opacity: 0;
  z-index: 11;
  opacity: 1;
}
.liuxi{
  position: absolute;
  width: 50px;
  height: 40px;
  top: 28%;
  left:54%;
  overflow: hidden;
}
.top1{
  opacity: 0;
}
.comeout .top1{
  opacity: 1;
}
.liuxi span{
  display: inline-block;
  width: 10px;
  height: 34px;
  z-index: 13;
}
.liuxi span:nth-child(1){
  background: url("../images/b6_arrow.png");
  animation:move 2s  linear infinite;
}
.liuxi span:nth-child(2){
  margin-left: 25px;
  background: url("../images/b6_arrow.png")10px 0px;
  animation:move1 2s  linear infinite;
}
@keyframes move {
  from{
    position: absolute;
    top: 50px;
  }
  to{
    position: absolute;
    top: -50px;
  }

}
@keyframes move1 {
  from{
    position: absolute;
    top: -40px;
  }
  to{
    position: absolute;
    top: 40px;
  }

}