* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.da {
  width: 1350px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  height: 109px;
  background-image: url("../images/repeatX01.jpg");
  position: relative;
}

.header-center {
  width: 800px;
  height: 109px;
  margin: 0 485px;

}

.header-img {
  width: 315px;
  height: 109px;
  background-image: url("../images/logo01.png");
  position: absolute;
  left: 185px;
}

.weather {
  position: absolute;
  left: 485px;
  top: 10px;
}

.weather .watch {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/icon01.png");
  margin-right: 10px;
}

.weather .cloud {
  display: inline-block;
  width: 32px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.weather i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: pink;
}

.weather .one {
  margin-left: 62px;
  margin-right: 20px;
  background: url("../images/icon01.png") no-repeat 0px -48px;
}

.weather .cd {
  font-size: 10px;
}

.weather .time {
  font-size: 14px;
  font-weight: 700;
  color: #757575;
}

.weather .time-one {
  font-size: 12px;
  margin-right: 20px;
}

.weather .deng {
  margin-right: 15px;
}

.weather .welcome {
  font-size: 14px;
}

.weather a {
  font-size: 14px;
  color: #757575;
}

.top-nav {

  position: absolute;
  left: 485px;
}

.top-nav li {
  float: left;
  margin-top: 44px;
  display: inline-block;
  padding: 0 14px;
  height: 65px;
  font-size: 16px;
  line-height: 65px;
}

.top-nav > li > a {
  display: block;
  height: 65px;
}

.top-nav li {
  border-right: 1px dashed #ccc;
  position: relative;
}

.top-nav li:nth-child(7) {
  border-right: 1px dashed #fff;

}

.top-nav li:nth-child(1) a {
  color: #e74646;
}

.top-nav li:nth-child(2) a {
  color: #d68600;
}

.top-nav li:nth-child(3) a {
  color: #98bb00;
}

.top-nav li:nth-child(4) a {
  color: #007f9a;
}

.top-nav li:nth-child(5) a {
  color: #0057e1;
}

.top-nav li:nth-child(6) a {
  color: #ef0049;
}

.top-nav li:nth-child(7) a {
  color: #9b76c8;
}

.top-nav div {
  width: 1250px;
  height: 50px;
  position: absolute;
  z-index: 2;
  background-color: rgba(93, 86, 86, 0.7);
  display: none;
  padding-left: 100px;
}

.top-nav  span {
  display: inline-block;
  height: 50px;
  padding: 0 10px;

}

.top-nav  span a {
  display: inline-block;
  height: 50px;
  /*font-size: 14px;*/
  /*color: #fff;*/


}

.top-nav li > a:hover {
  background: url("../images/icon05 (1).png") no-repeat center bottom;
}

.theme_nav {
  height: 100px;
  background-color: #f46837;
}

.column {
  width: 1350px;
  height: 540px;
  margin-top: 48px;
}

.column ul {
  /*width: 1350px;*/
  height: 100px;
  background-color: #f76e3a;
  padding-left: 220px;

}

.column li {
  display: inline-block;
  width: 220px;
  height: 100px;
  float: left;
  cursor: pointer;
  text-align: center;
  line-height: 100px;
  /*margin-left: 100px;*/

}

.products {
  width: 1350px;
  border: 1px solid #ddd;
  height: 440px;
  overflow: hidden;
  position: relative;

}

.products .main {
  width: 1350px;
  height: 440px;
  /*float: left;*/

  display: none;
  position: absolute;
}

.products .no_1 {
  background-image: url("../images/map 拷贝.jpg");
}

.products .no_1 .ding {
  display: inline-block;
  width: 642px;
  line-height: 30px;
  font-size: 16px;
  position: absolute;
  left: 600px;
}

.products .no_1 .num_1 {
  display: inline-block;
  font-size: 34px;
  color: #cf1400;
  margin: 30px 0;
}

.products .no_1 .num_2 {
  font-size: 24px;
  color: #896400;
}

.products .no_2 {
  background-image: url("../images/map (1) 拷贝.jpg");
  position: relative;

}

.products .no_2 .ding {
  display: inline-block;
  width: 642px;
  line-height: 30px;
  font-size: 16px;
  position: absolute;
  left: 600px;
}

.products .no_2 .num_1 {
  display: inline-block;
  font-size: 34px;
  color: #cf1400;
  margin: 30px 0;
}

.products .no_2 .num_2 {
  font-size: 24px;
  color: #896400;
}

.products .no_3 {
  background-image: url("../images/map (2) 拷贝.jpg");
}

.products .no_3 .ding {
  display: inline-block;
  width: 642px;
  line-height: 30px;
  font-size: 16px;
  position: absolute;
  left: 600px;
}

.products .no_3 .num_1 {
  display: inline-block;
  font-size: 34px;
  color: #cf1400;
  margin: 30px 0;
}

.products .no_3 .num_2 {
  font-size: 24px;
  color: #896400;
}

.products .no_4 {
  background-image: url("../images/map (3) 拷贝.jpg");
}

.products .no_4 .ding {
  display: inline-block;
  width: 642px;
  line-height: 30px;
  font-size: 16px;
  position: absolute;
  left: 600px;
}

.products .no_4 .num_1 {
  display: inline-block;
  font-size: 34px;
  color: #cf1400;
  margin: 30px 0;
}

.products .no_4 .num_2 {
  font-size: 24px;
  color: #896400;
}

.column li {
  font-size: 20px;
}

.column li.active {
  background-color: #a5ce04;
  color: #fff;
}

.products .main.selected {
  display: block;
}

/*小图部分*/
.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

.liudong {
  width: 1350px;
  height: 442px;
}

.small {
  width: 660px;
  border: 1px solid #ccc;
  height: 440px;
  float: left;

}

.small .view {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  float: left;

}

.small .hover {
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40px;
  left: 0;
  text-align: center;
  color: #fff;
  transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -webkit-transform: rotate(55deg);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  overflow: hidden;
  height: 0;
  z-index: 4000;

}

.small .hover h3 {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  padding-top: 10px;
}

.small .hover p {
  line-height: 130%;
  padding: 10px 0;
}

.small .view:hover .hover {
  height: 120px;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.small .view:before {
  content: "";
  position: absolute;
  top: -240px;
  right: 0;
  width: 360px;
  height: 360px;
  background: rgba(150, 150, 100, 0.5);
  transform: rotate(55deg) translateX(60px);
  -moz-transform: rotate(55deg) translateX(60px);
  -webkit-transform: rotate(55deg) translateX(60px);
  transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
  -webkit-transition: all 0.5s ease 0.3s;

}

/*写好样式，进行隐藏，用top:-240px;*/
.small .view:hover:before {
  top: 0;
}

.small .view:after {
  content: "";
  position: absolute;
  bottom: -240px;
  left: 0;
  width: 360px;
  height: 360px;
  background: rgba(150, 150, 100, 0.5);
  transform: rotate(55deg) translateX(-60px);
  -moz-transform: rotate(55deg) translateX(-60px);
  -webkit-transform: rotate(55deg) translateX(-60px);
  transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
  -webkit-transition: all 0.5s ease 0.3s;
}

.small .view:hover:after {
  bottom: 0px;
}

.wufeng {
  width: 676px;
  height: 440px;
  border: 1px solid #ccc;
  float: right;
}

#gun {
  width: 676px;
  height: 383px;
  /*margin: 100px auto;*/
  overflow: hidden;
  position: relative;
}

#gun ul {
  position: absolute;
  left: 0;
  top: 0;
}

#gun ul li {
  width: 560px;
  height: 383px;
  list-style: none;
  float: left;
}

.zi {
  width: 676px;
  height: 50px;
  background-color: rgb(50,28,8);
  color: #fff;
  padding-top: 8px;

}

.hengxian {
  width: 1250px;
  height: 2px;
  background-color: #ccc;
  margin: 20px auto;
}

/*页面底部*/
#footer {
  width: 100%;
  height: 123px;
  background: url(../images/footBg.jpg) repeat-x;
  min-width: 1002px;
}

#footer .colorBar {
  height: 5px;
  width: 100%;
  margin: 0 auto;
  background: url(../images/colorBar.jpg) no-repeat center top;
}

#footer .copyright {
  width: 1000px;
  padding-top: 36px;
  height: 36px;
  margin: 0 auto;
  position: relative;
}

#footer .copyright .toOct {
  float: left;
  width: 82px;
  height: 36px;
  background: url(../images/icon03.png) no-repeat -134px 0px;
}

#footer .copyright .toHappy {
  margin-left: 10px;
  float: left;
  width: 82px;
  height: 36px;
  background: url(../images/icon03.png) no-repeat -234px 0px;
}

#footer .copyright .footLink {
  margin-left: 180px;
  float: left;
  width: 340px;
  height: 36px;
  font: normal 12px/18px "宋体";
}

#footer .copyright .footLink p.p1 {
  color: #c1c1c1;
}

#footer .copyright .footLink p.p1 a {
  color: #c1c1c1;
  padding: 0 4px;
}

#footer .copyright .footLink p.p1 a:hover {
  color: #fff;
}

#footer .copyright .footLink p.p2 {
  padding-left: 4px;
  color: #545454;
}

#footer .copyright .footLink p.p2 a {
  padding-left: 4px;
  color: #545454;
}

#footer .copyright .footLink p.p2 a:hover {
  color: #fff;
}

#footer .copyright .phone {
  float: right;
  text-align: right;
  width: 190px;
  background: url(../images/icon01.png) no-repeat 0px -660px;
  font: normal 24px/36px Arial;
  color: #3baf68;
}

#moreHappy {
  position: absolute;
  z-index: 100;
  top: 42px;
  left: 200px;
  font: normal 12px/29px "宋体";
  color: #5d5d5d;
  width: 122px;
  height: 29px;
}

#moreHappy .a1 {
  text-indent: 2em;
  position: absolute;
  top: 0px;
  left: 0px;
  font: normal 12px/29px "宋体";
  color: #5d5d5d;
  background: url(../images/moreHappyBg.png);
  width: 122px;
  height: 29px;
}

.news {
  width: 734px;
  height: 38px;

}

.news span {
  margin-left: 10px;
  margin-top: 5px;
  width: 100px;
  float: left;
  height: 50px;
  text-align: center;
  color: rgb(255, 198, 0);
  font-size: 20px;
}
.news .list{
  position: relative;
  width: 566px;
  height: 38px;
  overflow: hidden;
  float: left;
  /*background-color: pink;*/
}


.news ol {
  position: absolute;
  width: 3000px;
  list-style: none;

  height: 50px;

}

.news ol li {
  float: left;
  margin-left: 40px;

}

.news ol li a {
  color: white;
  line-height: 38px;;
  font-size: 16px;
}

.news ol li a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

#moreHappy .linkList {
  display: none;
  position: absolute;
  bottom: 20px;
  padding-bottom: 14px;
  padding-top: 6px;
  left: 1px;
  width: 120px;
  background: url(../images/shadow80.png) repeat;
}

#moreHappy .linkList a {
  display: block;
  margin: 0 auto;
  width: 116px;
  text-align: center;
  height: 29px;
  margin-top: 2px;
  color: #fff;
}

#moreHappy .linkList a:hover {
  color: #fff;
  background: #51bb7a;
}
